
@using Seguridad.Common;
@{
    ViewBag.Title = "Usuarios";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">@ViewBag.Message</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>En esta sección usted puede:</h4>
        <ul>
            @if (FrontUser.TienePermiso(RolesPermisos.Usuario_Consultar_Usuario))
            {
                <li>@Html.ActionLink("Ir a ver lista de usuarios.", "Ver", "Usuario")</li>
            }
            @if (FrontUser.TienePermiso(RolesPermisos.Usuario_Crear_Usuario))
            {
                <li>@Html.ActionLink("Ir a crear un usuario nuevo.", "Crear", "Usuario")</li>
            }
            @if (FrontUser.TienePermiso(RolesPermisos.Usuario_Modificar_Usuario))
            {
                <li>@Html.ActionLink("Ir a modificar un usuario existente.", "Editar", "Usuario")</li>
            }
            @if (FrontUser.TienePermiso(RolesPermisos.Usuario_Eliminar_Usuario))
            {
                <li>@Html.ActionLink("Ir a eliminar un usuario existente.", "Eliminar", "Usuario")</li>
            }
        </ul>

    </div>
</div>